
<%= form_with(model: @user) do |form| %>
  <%= form.label :username, "Username:" %>
  <%= form.text_field :username, placeholder: "put your username"%>
  <%= form.label :email, "Email:" %>
  <%= form.email_field :email, placeholder: "example@example.com" %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password, placeholder: "type your password" %>
  <%= form.submit "Submit" %>
<% end %>

<h1>THis is the edit page</h1>